<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cybershooter.proelite" version="3.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cyber Shooter Pro Elite</name>
    <description>Next-Gen Tactical Firing Combat Game</description>
    <author email="dev@gamehub.com" href="https://github.com">Cyber Ops Studio</author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Orientation" value="sensorLandscape" />
    <preference name="Fullscreen" value="true" />
    <preference name="BackgroundColor" value="#030712" />
</widget>
